/* tablet o movil*/
@media (min-width: 992px) {
  .menor-tablet {
    display: none;
  }
}
@media (max-width: 992px) {
  .max-tablet {
    display: none;
  }
}
.img-p {
  display: flex;
}

.precios {
  color: rgb(25, 73, 3);
  font-size: 17px;
  font-weight: bold;
}

/* form */
:root {
  --colorTexto: rgb(0, 0, 0);
}

.form-provedor {
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-provedor__div {
  font-weight: 600;
  padding: 40px 0px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.grupo {
  position: relative;
  margin: 45px;
}

.grupo-input {
  font-size: 3.5vh;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-bottom: 1px solid var(--colorTexto);
  box-shadow: 0 0 6px 0 rgb(255, 255, 255);
}

.grupo-input:focus {
  outline: none;
  color: #5e5d5d;
}

/* SECTION FONDO */
.section-fondo {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  padding-top: 4vh;
  width: 100%;
  border: #0267a1;
  border-width: 10vh;
}

.grupo-input:focus {
  outline: none;
}

.grupo-label {
  position: absolute;
  font-size: 16px;
  left: 5px;
  top: 7px;
  transition: 0.5s;
  pointer-events: none;
}

.grupo-input:focus ~ label,
.grupo-input:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: rgb(5, 83, 199);
}

.barra {
  position: relative;
  display: block;
  width: 100%;
}

.barra::before {
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  transition: 0.3s ease width;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.grupo-input:focus ~ .barra::before {
  width: 100%;
}

.form__button {
  border: none;
  display: block;
  width: 80%;
  margin: 10px auto;
  color: #fff;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

@media screen and (max-width: 500px) {
  .form-provedor__div {
    width: 80%;
  }
  .grupo-input {
    font-size: 16px;
  }
}
/* animatic */
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.scale-up-center {
  animation: scale-up-center 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

body {
  overflow-x: hidden;
  max-width: 100%;
}

/* navbar */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.7s;
  padding: 5px 5px;
  z-index: 10;
  font-weight: bold;
}

header.abajo {
  background: #fff;
}

.bi-index {
  background: url(../img/prueba.jfif);
}

.bi-nosotros {
  background: url(../img/fond-cont.jpg);
}

.bi-conctato {
  background: url(../img/portada-coci.jpg);
}

.bi-menu {
  background: url(../img/menuf2.jpg);
}

.bi-provedor {
  background: url(../img/fondo-pr.jpg);
}

/* texto principal */
.t-titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.zona1-i {
  padding: 50px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center center;
  height: 110vh;
}

.zona1-p {
  padding: 50px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center center;
  height: 70vh;
}

.zona1-n {
  padding: 50px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center center;
  height: 70vh;
}

.zona1-m {
  padding: 50px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center center;
  height: 65vh;
}

.zona1-c {
  padding: 50px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center center;
  height: 70vh;
}

/* footer */
.zona3 {
  padding: 30px;
  position: relative;
  width: 100%;
  height: 30%;
  background: url(../img/fott.jpg);
  background-size: cover;
  background-position: center center;
}

.nav-link1 {
  margin-left: 3.2vh;
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 2.8vh;
}

.nav-link1:hover {
  color: rgb(219, 107, 16);
}

.mt-50 {
  margin-top: 50px;
}

/*# sourceMappingURL=estilos.css.map */
