
@use './partials/_index.scss';
@use './partials/_conctato.scss';
@use './partials/_menu.scss';
@use './partials/_nosotros.scss';
@use './partials/_provedor.scss';

 /* animatic */
 @keyframes scale-up-center{0%{transform:scale(.5)}100%{transform:scale(1)}}
 .scale-up-center{animation:scale-up-center .6s cubic-bezier(.39,.575,.565,1.000) both}

// body{
//     overflow-x: hidden;
//     max-width: 100%;
//  }

// /* navbar */
// header{
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     transition: 0.7s;
//     padding: 5px 5px;
//     z-index: 10;
//     font-weight: bold
// }
// a{
//     font-weight: 100;
// }

// header.abajo{
//     background: #fff;
// }

// /* texto principal */
// .text-p{
//     display: flex;
//     align-items:center;
//     justify-content: center;
    

// }
// .t-top-img{
//     font-style: normal;
//     text-decoration: none;
//     color: rgb(255, 255, 255);
// }


// imagenes de fondo background
$img-fonde: (
    index: url(../img/prueba.jfif),
    nosotros: url(../img/fond-cont.jpg),
    conctato: url(../img/ct-imagen.jpg),
    menu: url(../img/menu-fondo.jpg),
    provedor: url(../img/menu-fondo.jpg),
    );

@each $url,$valor in $img-fonde {
     .bi-#{$url} {
        background: $valor
     }
 }
