
@use './variables';

.zona1 {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

// .zona1{
//     height: variables.$h-img-pr;
// }
// zona1

h1{
    align-self: start;
    width: variables.$color-m;
}