@use './variables';


        /* form */
        :root {
            --colorTexto:  rgb(0, 0, 0);
           }
    
      
        .form-provedor {
            height: 650px;
            display: flex;
            justify-content: center;
            align-items: center;
                  
        }
        .form-provedor__div{
            font-weight: 600;
            padding: 40px 0px;
            background-color: rgb(255, 255, 255);
            border-radius: 10px;
          
        }
        .grupo{
            position: relative;
            margin: 45px;
        }

        .grupo-input{
        font-size: 3.5vh;
        padding: 10px 10px 10px 5px;
        display: block;
        border: none; 
        border-bottom: 1px solid var(--colorTexto);
        box-shadow: 0 0 6px 0 rgb(255, 255, 255);
       }

       .grupo-input:focus{
        outline: none;
        color: #5e5d5d;
       }
       
    /* SECTION FONDO */
       .section-fondo{  
        background-color: #0093E9;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
        padding-top: 4vh;
        width: 100%;
        border: #0267a1;
        border-width: 10vh;
       }
       

    .grupo-input:focus{
        outline: none;
      
       }

    .grupo-label{
        position: absolute;
        font-size: 16px;
        left: 5px;
        top: 7px;
        transition: 0.5s;
        pointer-events: none;
    }

    .grupo-input:focus~label,
    .grupo-input:valid~label{
        top: -14px;
        font-size: 12px;
        color: rgb(5, 83, 199);

    }
    
    .barra{
        position: relative;
        display: block;
        width: 100%;
    }

    

    .barra::before{
        content: "";
        height: 2px;
        width: 0%;
        bottom: 0;
        position: absolute;
        transition: 0.3s ease width;
        background-color: #0093E9;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
        
        
    }

    .grupo-input:focus~.barra::before{
        width: 100%;
    }

    .form__button {
        border: none;
        display: block;
        width: 80%;
        margin: 10px auto;
        color: #fff;
        height: 40px;
        font-size: 16px;
        cursor: pointer;
        background-color: #0093E9;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    }

    @media screen and (max-width:500px) {
        .form-provedor__div{
            width: 80%;
        
        }
        .grupo-input{
            font-size: 16px;
        }
    }
        
